{% extends 'main/base.html' %}
{% block title %}
{{user_profile.user.username}}
{% endblock %}
{% block content %}
<div>
<div class="col-md-4 mx-auto text-center">
    <div class="card" style="background-color: #2c2c2c; padding: 2.5%; color: #fff; margin: 20px 10px; border: none;">
        <img class="card-img-top rounded-circle mx-auto d-block mt-4" style="width:60%"
             src="{{ user.profile.profileimg.url }}" alt="Profile image">
        <div class="card-body text-center">
            <h3>{{ user.username }}</h3>
            <p class="card-text">{{ profile.bio }}</p>
        </div>
    </div>
</div>
    {% if posts %}
    <div class="post-container">
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <div class="avatar-wrapper">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        {% if post.user.profile.profileimg %}
                        <img class="avatar" src="{{ post.user.profile.profileimg.url }}">
                        {% else %}
                        <img class="avatar" src="blank-profile-picture.jpg">
                        {% endif %}
                    </a>
                </div>
                <h1 class="author">{{ post.user }}</h1>
            </div>
            <div>
                <p>{{ post.content }}</p>
            </div>
            <div class="post-body">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                {% if post.video %}
                <video width="320" height="240" controls>
                    <source src="{{ post.video.url }}">
                </video>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Пользователь пока не опубликовали ни одного поста.</p>
    {% endif %}
    </div>
    {% endblock %}