<!DOCTYPE html>
<html>
<head>
	<title>Пример дропдауна с аватаркой и именем пользователя</title>
	<!-- Подключаем необходимые библиотеки Bootstrap и jQuery -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container mt-3">
		<h3>Пример дропдауна с аватаркой и именем пользователя</h3>
		<div class="row">
			<div class="col-2">
				<img src="{{ user.profile.profileimg.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
				<strong>{{ user.username }}</strong>
			</div>
			<div class="col-10">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						Ссылки
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Ссылка 1</a>
						<a class="dropdown-item" href="#">Ссылка 2</a>
						<a class="dropdown-item" href="#">Ссылка 3</a>
						<a class="dropdown-item" href="#">Ссылка 4</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
